<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>微信酒店订房</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="no-cache, no-store, must-revalidate" http-equiv="Cache-Control" />
<meta content="no-cache" http-equiv="Pragma" />
<meta content="0" http-equiv="Expires" />

<link rel="stylesheet" href="mobile/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" href="css/index.css">
<script src="mobile/demos/js/jquery.js"></script>
<script src="mobile/jquery.mobile-1.4.5.min.js"></script>



	
</head>
<body class="bg_login">


<div data-role="page" class="login">
 

  <div data-role="content" >
	


<div >	

<form>	



<div class="login_div">
<div class="touxiang"><img src="img/users.jpg"></div>
	
<ul data-role="listview" data-inset="true">
    <li><img src="img/user.png" alt="France" class="ui-li-icon ui-corner-none"><input name="text" placeholder="手机号/会员卡号" value="" data-role="none" type="text" ></li>
       <li>
       
       <img src="img/lock.png" alt="France" class="ui-li-icon ui-corner-none">
       <input name="text" placeholder="密码" value="" data-role="none" type="text" > 
    <div class=" on_off">  <select name="switch" id="switch" data-role="slider">
          <option value="on"></option>
          <option value="off"></option>
        </select>
        </div>
        
        </li>

</ul>






 <div class="login_btn"><a href="users.html">登 录</a></div>
 

</form>


   



<div class="center_div"><a href="forget.html"  class="left" target="_top">忘记密码？</a><a href="register.html"  class="right" target="_top">立即注册</a></div>
</div>






</div>





   
  </div>








 <div class="fix2"><div class="footer" style="color:#555">Copyright©深圳市领先智能科技有限公司</div>  </div>





</div>


</body>
</html>